### Clean Data From Webscraper

In [41]:
count_row = 0

In [42]:
import pandas as pd
import numpy as np

def rate_prep(x: str):
  if isinstance(x, int):
    return str(x)
  if not isinstance(x, str):
    return None
 
  return x.split('ui_bubble_rating bubble_')[1]

def stay_prep(x: str):
  if not isinstance(x, str):
    return None
  return x.split(':')[1].strip()

def triptype_prep(x: str):
  if not isinstance(x, str):
    return None
  return x.split(':')[1].strip()

def review_prep(x: str):
  if not isinstance(x, str):
    return None
  return x.replace('\n','').strip()

def review_origin(x: str):
  if not isinstance(x, str) or x=='1 contribution':
    return None
  
  return x.split(' contributions')[0].rstrip('0123456789')

def review_date_prep(x):
  if not isinstance(x, str):
    return None
  
  if x == 'Yesterday':
    return 'Oct 12'
  return x


def main_clean(df):
  df['rate'] = df['rate'].apply(rate_prep)
  df['rate'] = df['rate'].astype(int) /10
  df['rate'] = df['rate'].astype(int)
  
  df['stay_date'] = df['stay_date'].apply(stay_prep)
  df['trip_type'] = df['trip_type'].apply(triptype_prep)
  df['review'] = df['review'].apply(review_prep)
  df['origin'] = df['origin'].apply(review_origin)
  df[['stay_month', 'stay_year']] = df['stay_date'].str.split(' ', 1, expand=True)
  return df

In [43]:
STANDARD_COLUMNS = {
  'rating':'rate', 
  'title':'topic', 
  'stay':'stay_date', 
  'triptype':'trip_type', 
  'web-scraper-order':'reviewid', 
}

In [44]:
# check all files
from pathlib import Path 
path = Path(r"E:\DSC\BA\assignment_hotel\TripAdvisor\rawdata")
fileNames = [file.name for file in path.iterdir() if file.name.startswith('hawaii_') & file.name.endswith('.csv')] 
print('all files: ', fileNames,'\ntotal files:', len(fileNames))

all files:  ['hawaii_webspider1.csv', 'hawaii_webspider2.csv', 'hawaii_webspider3.csv', 'hawaii_webspider5.csv', 'hawaii_webspider_21_25.csv']
total files: 5

In [45]:
all_df = []
for file in fileNames:
  df = pd.read_csv(f"{path}/{file}")
  count_row += len(df)
  all_df.append(df)
concat_df = pd.concat(all_df, ignore_index=True, sort=False)
len(concat_df)

9217

In [46]:
concat_df.tail(1)

,web-scraper-order,web-scraper-start-url,name,origin,topic,review,stay,triptype,rate
9216,1665503434-793,https://www.tripadvisor.com/Hotel_Review-g6062...,Frank M,"Manhattan Beach, California101 contributions79...","Beautiful, relaxing, great people Mahalo!","The Timbers is a brand new resort in Kauai, an...",Date of stay: July 2018,Trip type: Traveled as a couple,ui_bubble_rating bubble_50

In [47]:
concat_df.rename(columns = STANDARD_COLUMNS, inplace = True)
clean_df = main_clean(concat_df)

In [48]:
clean_df.head(1)

,reviewid,web-scraper-start-url,name,origin,topic,review,stay_date,trip_type,rate,stay_month,stay_year
0,1665326404-85,https://www.tripadvisor.com/Hotel_Review-g6098...,Javier G,"Santo Domingo, Dominican Republic1 contribution",Great Hotel for Honeymooners,The hotel was great with outstanding service f...,September 2022,Traveled as a couple,5,September,2022

### Clean Data from Selenuim

In [49]:
# check all files
from pathlib import Path 
path = Path(r"E:\DSC\BA\assignment_hotel\TripAdvisor\rawdata")
fileNames = [file.name for file in path.iterdir() if file.name.startswith('Hawaii_') & file.name.endswith('.csv')] 
print('all files: ', fileNames,'\ntotal files:', len(fileNames))

all files:  ['Hawaii_11.csv', 'Hawaii_12.csv', 'Hawaii_13.csv', 'Hawaii_14.csv', 'Hawaii_15.csv', 'Hawaii_16.csv', 'Hawaii_17.csv', 'Hawaii_18.csv', 'Hawaii_19.csv', 'Hawaii_20.csv', 'Hawaii_4.csv', 'Hawaii_6.csv', 'Hawaii_7.csv', 'Hawaii_8.csv', 'Hawaii_87399.csv', 'Hawaii_9.csv']
total files: 16

In [50]:
# test_df = pd.read_csv(f"{path}/{fileNames[0]}")
# test_df_clean = main_clean(test_df)
# test_df_clean

In [51]:
all_df = []
for file in fileNames:
  df = pd.read_csv(f"{path}/{file}")
  count_row += len(df)
  
  all_df.append(df)

concat_df_sele = pd.concat(all_df, ignore_index=True, sort=False)
len(concat_df_sele)

56622

In [52]:
def main_clean_sele(df):
  # df['rate'] = df['rate'].apply(rate_prep)
  df['rate'] = df['rate'].astype(int) / 10
  df['rate'] = df['rate'].astype(int)
  # df['stay_date'] = df['stay_date'].apply(stay_prep)
  # df['trip_type'] = df['trip_type'].apply(triptype_prep)
  df['review'] = df['review'].apply(review_prep)
  df['review_date'] = df['review_date'].apply(review_date_prep)
  # df['origin'] = df['origin'].apply(review_origin)
  df[['stay_month', 'stay_year']] = df['stay_date'].str.split(' ', 1, expand=True)
  return df

In [53]:
concat_df_sele.rename(columns = STANDARD_COLUMNS, inplace = True)

In [54]:
concat_df_sele.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56622 entries, 0 to 56621
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   reviewid     56622 non-null  int64
 1   rate         56622 non-null  int64
 2   topic        56619 non-null  object
 3   review       56622 non-null  object
 4   review_date  56622 non-null  object
 5   stay_date    55711 non-null  object
 6   trip_type    47822 non-null  object
 7   room_tip     12015 non-null  object
 8   origin       49557 non-null  object
dtypes: int64(2), object(7)
memory usage: 3.9+ MB

In [55]:
concat_df_sele.head()

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin
0,864403480,50,"Third Time, Love this Hotel!!!",This was our third time staying at the Andaz M...,Yesterday,October 2022,NaN,NaN,"Frankfort, Illinois"
1,864278516,50,Beautiful property and very responsive staff,The hotel is great for family with little ones...,Oct 12,October 2022,NaN,NaN,"New York City, New York"
2,864163368,50,"Phenomenal, planning our next stay","Our stay was phenomenal - early check in, was ...",Oct 11,October 2022,NaN,NaN,NaN
3,863854863,50,Great beach & Pools,"The best beach ever, so much to offer on the p...",Oct 9,September 2022,NaN,NaN,NaN
4,863586715,10,"Valet keyed our rental car, resort refuses to ...","Valet keyed our rental car, resort refuses to ...",Oct 7,September 2022,NaN,NaN,NaN

In [56]:
clean_df_sele = main_clean_sele(concat_df_sele)

In [57]:
clean_df_sele.tail()

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin,stay_month,stay_year
56617,1517770,5,"even bigger than I expected, better than I can...",The Aston Waikiki Beach Tower is just what the...,Dec 2003,November 2004,NaN,NaN,"Covington, Louisiana",November,2004
56618,1283404,5,Aston Waikiki Beach Tower Condos are a great w...,We flew from California to Honolulu and our re...,Sep 2003,NaN,NaN,NaN,California,NaN,NaN
56619,1212667,5,Beautiful property with a friendly staff,My family and I have just returned from Waikik...,Aug 2003,July 2003,NaN,NaN,"West Islip, New York",July,2003
56620,1135337,5,Great Aston Waikiki Beach Tower,We stayed at this property for 10 days. It has...,Jul 2003,NaN,NaN,NaN,NaN,NaN,NaN
56621,925531,5,Loved the Hotel,The Aston Waikiki Beach Tower in my opinion is...,Mar 2003,NaN,NaN,NaN,"San Diego, CA",NaN,NaN

### Merge all source

### to cleanup
- review_date
- name
- web-scraper-start-url

In [58]:
hawii_all_df = pd.concat([clean_df_sele,clean_df],ignore_index=True, sort=False)
hawii_all_df.tail()

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin,stay_month,stay_year,web-scraper-start-url,name
65834,1665503434-789,3,Great view in Dining Room but needs work,We made a reservation for dinner at Hukalani R...,NaN,September 2018,Traveled with friends,NaN,Philadelphia PA,September,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Happytraveler87
65835,1665503434-790,5,First visit to hawaii,This new Timbers resort property opened in Jun...,NaN,September 2018,Traveled as a couple,NaN,"Pensacola, Florida",September,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Charles W
65836,1665503434-791,5,A resort that you will love instantly,This is the resort I was invited to stay for 3...,NaN,August 2018,Traveled with friends,NaN,"New York City, New York",August,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,ChelseaAlexNY
65837,1665503434-792,5,"Beautiful, relaxing, great people Mahalo!","The Timbers is a brand new resort in Kauai, an...",NaN,July 2018,Traveled as a couple,NaN,"Manhattan Beach, California",July,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Frank M
65838,1665503434-793,5,"Beautiful, relaxing, great people Mahalo!","The Timbers is a brand new resort in Kauai, an...",NaN,July 2018,Traveled as a couple,NaN,"Manhattan Beach, California",July,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Frank M

In [59]:
count_row

65839

In [60]:
hawii_all_df.to_csv('./dataset/hawaii_reviews_raw.csv')

In [61]:
hawii_all_df.head()

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin,stay_month,stay_year,web-scraper-start-url,name
0,864403480,5,"Third Time, Love this Hotel!!!",This was our third time staying at the Andaz M...,Oct 12,October 2022,NaN,NaN,"Frankfort, Illinois",October,2022,NaN,NaN
1,864278516,5,Beautiful property and very responsive staff,The hotel is great for family with little ones...,Oct 12,October 2022,NaN,NaN,"New York City, New York",October,2022,NaN,NaN
2,864163368,5,"Phenomenal, planning our next stay","Our stay was phenomenal - early check in, was ...",Oct 11,October 2022,NaN,NaN,NaN,October,2022,NaN,NaN
3,863854863,5,Great beach & Pools,"The best beach ever, so much to offer on the p...",Oct 9,September 2022,NaN,NaN,NaN,September,2022,NaN,NaN
4,863586715,1,"Valet keyed our rental car, resort refuses to ...","Valet keyed our rental car, resort refuses to ...",Oct 7,September 2022,NaN,NaN,NaN,September,2022,NaN,NaN

In [62]:
hawii_clean_df = hawii_all_df.drop(labels=['web-scraper-start-url','name'], axis=1)

In [68]:
hawii_clean_df[['review_month', 'review_year']] = hawii_clean_df['review_date'].str.split(' ', 1, expand=True)

In [81]:
def clean_reviewdate(x):
  # if isinstance(x,float) | isinstance(x,int):
  #   x = x.str
  if len(str(x)) < 4:
    return 2022
  
  return x

In [78]:
hawii_clean_df['review_date'].unique()

array(['Oct 12', 'Oct 11', 'Oct 9', 'Oct 7', 'Oct 6', 'Oct 5', 'Oct 4',
       'Oct 3', 'Sep 2022', 'Aug 2022', 'Jul 2022', 'Jun 2022',
       'May 2022', 'Apr 2022', 'Mar 2022', 'Feb 2022', 'Jan 2022',
       'Dec 2021', 'Nov 2021', 'Oct 2021', 'Sep 2021', 'Aug 2021',
       'Jul 2021', 'Jun 2021', 'May 2021', 'Apr 2021', 'Mar 2021',
       'Feb 2021', 'Jan 2021', 'Dec 2020', 'Nov 2020', 'Sep 2020',
       'Aug 2020', 'Mar 2020', 'Feb 2020', 'Jan 2020', 'Dec 2019',
       'Nov 2019', 'Oct 2019', 'Sep 2019', 'Aug 2019', 'Jul 2019',
       'Jun 2019', 'May 2019', 'Apr 2019', 'Mar 2019', 'Feb 2019',
       'Jan 2019', 'Dec 2018', 'Nov 2018', 'Oct 2018', 'Sep 2018',
       'Aug 2018', 'Jul 2018', 'Jun 2018', 'May 2018', 'Apr 2018',
       'Mar 2018', 'Feb 2018', 'Jan 2018', 'Dec 2017', 'Nov 2017',
       'Oct 2017', 'Sep 2017', 'Aug 2017', 'Jul 2017', 'Jun 2017',
       'May 2017', 'Apr 2017', 'Mar 2017', 'Feb 2017', 'Jan 2017',
       'Dec 2016', 'Nov 2016', 'Oct 2016', 'Sep 2016', 'Aug 2016',
       'Jul 2016', 'Jun 2016', 'May 2016', 'Apr 2016', 'Mar 2016',
       'Feb 2016', 'Jan 2016', 'Dec 2015', 'Nov 2015', 'Oct 2015',
       'Sep 2015', 'Aug 2015', 'Jul 2015', 'Jun 2015', 'May 2015',
       'Apr 2015', 'Mar 2015', 'Feb 2015', 'Jan 2015', 'Dec 2014',
       'Nov 2014', 'Oct 2014', 'Sep 2014', 'Aug 2014', 'Jul 2014',
       'Jun 2014', 'May 2014', 'Apr 2014', 'Mar 2014', 'Feb 2014',
       'Jan 2014', 'Dec 2013', 'Nov 2013', 'Oct 2013', 'Sep 2013',
       'Aug 2013', 'Oct 8', 'May 2020', 'Jul 2013', 'Jun 2013',
       'May 2013', 'Apr 2013', 'Mar 2013', 'Feb 2013', 'Jan 2013',
       'Dec 2012', 'Nov 2012', 'Oct 2012', 'Sep 2012', 'Aug 2012',
       'Jul 2012', 'Jun 2012', 'May 2012', 'Apr 2012', 'Mar 2012',
       'Feb 2012', 'Jan 2012', 'Dec 2011', 'Nov 2011', 'Oct 2011',
       'Sep 2011', 'Aug 2011', 'Jul 2011', 'Jun 2011', 'May 2011',
       'Apr 2011', 'Mar 2011', 'Feb 2011', 'Jan 2011', 'Dec 2010',
       'Nov 2010', 'Oct 2010', 'Sep 2010', 'Aug 2010', 'Jul 2010',
       'Jun 2010', 'May 2010', 'Apr 2010', 'Mar 2010', 'Feb 2010',
       'Jan 2010', 'Dec 2009', 'Nov 2009', 'Oct 2009', 'Sep 2009',
       'Aug 2009', 'Jul 2009', 'Jun 2009', 'May 2009', 'Apr 2009',
       'Mar 2009', 'Feb 2009', 'Jan 2009', 'Dec 2008', 'Nov 2008',
       'Oct 2008', 'Sep 2008', 'Aug 2008', 'Jul 2008', 'Jun 2008',
       'May 2008', 'Apr 2008', 'Mar 2008', 'Feb 2008', 'Jan 2008',
       'Dec 2007', 'Nov 2007', 'Oct 2007', 'Sep 2007', 'Aug 2007',
       'Jul 2007', 'Jun 2007', 'May 2007', 'Apr 2007', 'Mar 2007',
       'Feb 2007', 'Jan 2007', 'Dec 2006', 'Nov 2006', 'Oct 2006',
       'Sep 2006', 'Aug 2006', 'Jul 2006', 'Jun 2006', 'May 2006',
       'Apr 2006', 'Mar 2006', 'Feb 2006', 'Jan 2006', 'Dec 2005',
       'Nov 2005', 'Oct 2005', 'Sep 2005', 'Aug 2005', 'Jul 2005',
       'Jun 2005', 'May 2005', 'Apr 2005', 'Mar 2005', 'Feb 2005',
       'Jan 2005', 'Dec 2004', 'Nov 2004', 'Oct 2004', 'Sep 2004',
       'Aug 2004', 'Jul 2004', 'Jun 2004', 'May 2004', 'Apr 2004',
       'Feb 2004', 'Jan 2004', 'Dec 2003', 'Nov 2003', 'Oct 2003',
       'Sep 2003', 'Aug 2003', 'May 2003', 'Mar 2003', 'Feb 2003',
       'Jan 2003', 'Jul 2002', 'Oct 2020', 'Jul 2020', 'Apr 2020',
       'Oct 1', 'Jun 2020', 'Mar 2004', 'Jul 2003', 'Jun 2003',
       'Apr 2003', 'Oct 2002', 'May 2002', 'Feb 2002', 'Dec 2001',
       'Oct 10', 'Sep 2002', 'Oct 2', 'Aug 2002', 'Nov 2002', 'Dec 2002',
       nan], dtype=object)

In [82]:
hawii_clean_df['review_year'] = hawii_clean_df['review_year'].apply(clean_reviewdate)

AttributeError: 'float' object has no attribute 'str'

In [71]:
hawii_clean_df['stay_year'].fillna(hawii_clean_df['review_date'], inplace=True)

In [72]:
hawii_clean_df['stay_year'].isna().sum()

106

In [73]:
hawii_clean_df['review_date'].isna().sum()

9217

In [ ]:
hawii_clean_df.

In [63]:
# hawii_clean_df['stay_year'] = pd.to_datetime(hawii_clean_df['stay_year'])
hawii_clean_df['stay_year'] = hawii_clean_df['stay_year'].astype(int)

ValueError: cannot convert float NaN to integer

In [ ]:
hawii_filter_df = hawii_clean_df[hawii_clean_df['stay_year'] >=  2017]

TypeError: Invalid comparison between dtype=datetime64[ns] and int

_______________________

### Manual/ Backup code

In [ ]:
# cnx_df = pd.read_csv(r"E:\DSC\BA\assignment_hotel\TripAdvisor\data\cnx_hotel_reviews.csv")
# cnx_df.head(1)

In [ ]:
# cnx_df['rate'].unique()

In [ ]:
# import numpy as np


# def rate_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.split('ui_bubble_rating bubble_')[1]

# def stay_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.split(':')[1].strip()

# def triptype_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.split(':')[1].strip()

# def review_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.replace('\n','').strip()

# def review_origin(x: str):
#   if not isinstance(x, str) or x=='1 contribution':
#     return None
  
#   return x.split(' contributions')[0].rstrip('0123456789')

In [ ]:
# cnx_df['rate'] = cnx_df['rate'].apply(rate_prep)
# cnx_df['stay'] = cnx_df['stay'].apply(stay_prep)
# cnx_df['triptype'] = cnx_df['triptype'].apply(triptype_prep)
# cnx_df['review'] = cnx_df['review'].apply(review_prep)
# cnx_df['origin'] = cnx_df['origin'].apply(review_origin)

In [ ]:
# cnx_df['origin'][0].split(' contributions')[0].rstrip('0123456789')

In [ ]:
# cnx_df['review'][0]

In [ ]:
# cnx_df.head(20)