### Clean Data From Webscraper

In [394]:
count_row = 0

In [395]:
import pandas as pd
import numpy as np

def rate_prep(x: str):
  if isinstance(x, int):
    return str(x)
  if not isinstance(x, str):
    return None
 
  return x.split('ui_bubble_rating bubble_')[1]

def stay_prep(x: str):
  if not isinstance(x, str):
    return None
  return x.split(':')[1].strip()

def triptype_prep(x: str):
  if not isinstance(x, str):
    return None
  return x.split(':')[1].strip()

def review_prep(x: str):
  if not isinstance(x, str):
    return None
  return x.replace('\n','').strip()

def review_origin(x: str):
  if not isinstance(x, str) or x=='1 contribution':
    return None
  
  return x.split(' contributions')[0].rstrip('0123456789')

def review_date_prep(x):
  if not isinstance(x, str):
    return None
  
  if x == 'Yesterday':
    return 'Oct 12'
  return x


def main_clean(df):
  df['rate'] = df['rate'].apply(rate_prep)
  df['rate'] = df['rate'].astype(int) /10
  df['rate'] = df['rate'].astype(int)
  
  df['stay_date'] = df['stay_date'].apply(stay_prep)
  df['trip_type'] = df['trip_type'].apply(triptype_prep)
  df['review'] = df['review'].apply(review_prep)
  df['origin'] = df['origin'].apply(review_origin)
  df[['stay_month', 'stay_year']] = df['stay_date'].str.split(' ', 1, expand=True)
  return df

In [396]:
STANDARD_COLUMNS = {
  'rating':'rate', 
  'title':'topic', 
  'stay':'stay_date', 
  'triptype':'trip_type', 
  'web-scraper-order':'reviewid', 
}

In [397]:
# check all files
from pathlib import Path 
path = Path(r"E:\DSC\BA\assignment_hotel\TripAdvisor\rawdata")
fileNames = [file.name for file in path.iterdir() if file.name.startswith('hawaii_') & file.name.endswith('.csv')] 
print('all files: ', fileNames,'\ntotal files:', len(fileNames))

all files:  ['hawaii_webspider1.csv', 'hawaii_webspider2.csv', 'hawaii_webspider3.csv', 'hawaii_webspider5.csv', 'hawaii_webspider_21_25.csv']
total files: 5

In [398]:
all_df = []
for file in fileNames:
  df = pd.read_csv(f"{path}/{file}")
  count_row += len(df)
  all_df.append(df)
concat_df = pd.concat(all_df, ignore_index=True, sort=False)
len(concat_df)

9217

In [399]:
concat_df.tail(1)

,web-scraper-order,web-scraper-start-url,name,origin,topic,review,stay,triptype,rate
9216,1665503434-793,https://www.tripadvisor.com/Hotel_Review-g6062...,Frank M,"Manhattan Beach, California101 contributions79...","Beautiful, relaxing, great people Mahalo!","The Timbers is a brand new resort in Kauai, an...",Date of stay: July 2018,Trip type: Traveled as a couple,ui_bubble_rating bubble_50

In [400]:
concat_df.rename(columns = STANDARD_COLUMNS, inplace = True)
clean_df = main_clean(concat_df)

In [401]:
clean_df.head(1)

,reviewid,web-scraper-start-url,name,origin,topic,review,stay_date,trip_type,rate,stay_month,stay_year
0,1665326404-85,https://www.tripadvisor.com/Hotel_Review-g6098...,Javier G,"Santo Domingo, Dominican Republic1 contribution",Great Hotel for Honeymooners,The hotel was great with outstanding service f...,September 2022,Traveled as a couple,5,September,2022

### Clean Data from Selenuim

In [402]:
# check all files
from pathlib import Path 
path = Path(r"E:\DSC\BA\assignment_hotel\TripAdvisor\rawdata")
fileNames = [file.name for file in path.iterdir() if file.name.startswith('Hawaii_') & file.name.endswith('.csv')] 
print('all files: ', fileNames,'\ntotal files:', len(fileNames))

all files:  ['Hawaii_11.csv', 'Hawaii_12.csv', 'Hawaii_13.csv', 'Hawaii_14.csv', 'Hawaii_15.csv', 'Hawaii_16.csv', 'Hawaii_17.csv', 'Hawaii_18.csv', 'Hawaii_19.csv', 'Hawaii_20.csv', 'Hawaii_4.csv', 'Hawaii_6.csv', 'Hawaii_7.csv', 'Hawaii_8.csv', 'Hawaii_87399.csv', 'Hawaii_9.csv']
total files: 16

In [403]:
# test_df = pd.read_csv(f"{path}/{fileNames[0]}")
# test_df_clean = main_clean(test_df)
# test_df_clean

In [404]:
all_df = []
for file in fileNames:
  df = pd.read_csv(f"{path}/{file}")
  count_row += len(df)
  
  all_df.append(df)

concat_df_sele = pd.concat(all_df, ignore_index=True, sort=False)
len(concat_df_sele)

56622

In [405]:
def main_clean_sele(df):
  # df['rate'] = df['rate'].apply(rate_prep)
  df['rate'] = df['rate'].astype(int) / 10
  df['rate'] = df['rate'].astype(int)
  # df['stay_date'] = df['stay_date'].apply(stay_prep)
  # df['trip_type'] = df['trip_type'].apply(triptype_prep)
  df['review'] = df['review'].apply(review_prep)
  df['review_date'] = df['review_date'].apply(review_date_prep)
  # df['origin'] = df['origin'].apply(review_origin)
  df[['stay_month', 'stay_year']] = df['stay_date'].str.split(' ', 1, expand=True)
  return df

In [406]:
concat_df_sele.rename(columns = STANDARD_COLUMNS, inplace = True)

In [407]:
concat_df_sele.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56622 entries, 0 to 56621
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   reviewid     56622 non-null  int64
 1   rate         56622 non-null  int64
 2   topic        56619 non-null  object
 3   review       56622 non-null  object
 4   review_date  56622 non-null  object
 5   stay_date    55711 non-null  object
 6   trip_type    47822 non-null  object
 7   room_tip     12015 non-null  object
 8   origin       49557 non-null  object
dtypes: int64(2), object(7)
memory usage: 3.9+ MB

In [408]:
concat_df_sele.head()

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin
0,864403480,50,"Third Time, Love this Hotel!!!",This was our third time staying at the Andaz M...,Yesterday,October 2022,NaN,NaN,"Frankfort, Illinois"
1,864278516,50,Beautiful property and very responsive staff,The hotel is great for family with little ones...,Oct 12,October 2022,NaN,NaN,"New York City, New York"
2,864163368,50,"Phenomenal, planning our next stay","Our stay was phenomenal - early check in, was ...",Oct 11,October 2022,NaN,NaN,NaN
3,863854863,50,Great beach & Pools,"The best beach ever, so much to offer on the p...",Oct 9,September 2022,NaN,NaN,NaN
4,863586715,10,"Valet keyed our rental car, resort refuses to ...","Valet keyed our rental car, resort refuses to ...",Oct 7,September 2022,NaN,NaN,NaN

In [409]:
clean_df_sele = main_clean_sele(concat_df_sele)

In [410]:
clean_df_sele.tail()

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin,stay_month,stay_year
56617,1517770,5,"even bigger than I expected, better than I can...",The Aston Waikiki Beach Tower is just what the...,Dec 2003,November 2004,NaN,NaN,"Covington, Louisiana",November,2004
56618,1283404,5,Aston Waikiki Beach Tower Condos are a great w...,We flew from California to Honolulu and our re...,Sep 2003,NaN,NaN,NaN,California,NaN,NaN
56619,1212667,5,Beautiful property with a friendly staff,My family and I have just returned from Waikik...,Aug 2003,July 2003,NaN,NaN,"West Islip, New York",July,2003
56620,1135337,5,Great Aston Waikiki Beach Tower,We stayed at this property for 10 days. It has...,Jul 2003,NaN,NaN,NaN,NaN,NaN,NaN
56621,925531,5,Loved the Hotel,The Aston Waikiki Beach Tower in my opinion is...,Mar 2003,NaN,NaN,NaN,"San Diego, CA",NaN,NaN

### Merge all source

### to cleanup
- review_date
- name
- web-scraper-start-url

In [411]:
hawii_all_df = pd.concat([clean_df_sele,clean_df],ignore_index=True, sort=False)
hawii_all_df.tail()

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin,stay_month,stay_year,web-scraper-start-url,name
65834,1665503434-789,3,Great view in Dining Room but needs work,We made a reservation for dinner at Hukalani R...,NaN,September 2018,Traveled with friends,NaN,Philadelphia PA,September,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Happytraveler87
65835,1665503434-790,5,First visit to hawaii,This new Timbers resort property opened in Jun...,NaN,September 2018,Traveled as a couple,NaN,"Pensacola, Florida",September,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Charles W
65836,1665503434-791,5,A resort that you will love instantly,This is the resort I was invited to stay for 3...,NaN,August 2018,Traveled with friends,NaN,"New York City, New York",August,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,ChelseaAlexNY
65837,1665503434-792,5,"Beautiful, relaxing, great people Mahalo!","The Timbers is a brand new resort in Kauai, an...",NaN,July 2018,Traveled as a couple,NaN,"Manhattan Beach, California",July,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Frank M
65838,1665503434-793,5,"Beautiful, relaxing, great people Mahalo!","The Timbers is a brand new resort in Kauai, an...",NaN,July 2018,Traveled as a couple,NaN,"Manhattan Beach, California",July,2018,https://www.tripadvisor.com/Hotel_Review-g6062...,Frank M

In [412]:
count_row

65839

In [413]:
hawii_all_df.to_csv('./dataset/hawaii_reviews_raw.csv', index=False)

### Clean and filter data to dataset

In [414]:
hawii_all_df.head(1)

,reviewid,rate,topic,review,review_date,stay_date,trip_type,room_tip,origin,stay_month,stay_year,web-scraper-start-url,name
0,864403480,5,"Third Time, Love this Hotel!!!",This was our third time staying at the Andaz M...,Oct 12,October 2022,NaN,NaN,"Frankfort, Illinois",October,2022,NaN,NaN

In [415]:
def clean_reviewdate(x):
  if len(str(x)) < 4:
    return 2022
  
  return x

hawii_clean_df = hawii_all_df.drop(labels=['web-scraper-start-url','name'], axis=1)
hawii_clean_df[['review_month', 'review_year']] = hawii_clean_df['review_date'].str.split(' ', 1, expand=True)
hawii_clean_df['review_year'] = hawii_clean_df['review_year'].apply(clean_reviewdate)
hawii_clean_df['stay_year'].fillna(hawii_clean_df['review_year'], inplace=True)
hawii_clean_df['stay_year'].fillna(method='bfill', inplace=True)
hawii_clean_df['stay_year'] = hawii_clean_df['stay_year'].astype(int)

In [416]:
hawii_clean_df['stay_year'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2006, 2007, 2005, 2004, 2003, 2002, 2000,
       2001, 1999])

In [417]:
hawii_clean_df['stay_year'].isna().sum()

0

### filter review date 5 year

In [418]:
hawii_filter_df = hawii_clean_df[hawii_clean_df['stay_year'].astype(int) >  2017]

In [419]:
len(hawii_filter_df)

17047

In [420]:
hawii_filter_df['stay_year'].unique()

array([2022, 2021, 2020, 2019, 2018])

In [430]:
hawii_filter_df.shape

(17047, 13)

In [421]:
hawii_filter_df.to_csv('./dataset/hawaii_reviews_filter.csv', index=False)

_______________________

### Manual/ Backup code

In [422]:
# cnx_df = pd.read_csv(r"E:\DSC\BA\assignment_hotel\TripAdvisor\data\cnx_hotel_reviews.csv")
# cnx_df.head(1)

In [423]:
# cnx_df['rate'].unique()

In [424]:
# import numpy as np


# def rate_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.split('ui_bubble_rating bubble_')[1]

# def stay_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.split(':')[1].strip()

# def triptype_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.split(':')[1].strip()

# def review_prep(x: str):
#   if not isinstance(x, str):
#     return None
#   return x.replace('\n','').strip()

# def review_origin(x: str):
#   if not isinstance(x, str) or x=='1 contribution':
#     return None
  
#   return x.split(' contributions')[0].rstrip('0123456789')

In [425]:
# cnx_df['rate'] = cnx_df['rate'].apply(rate_prep)
# cnx_df['stay'] = cnx_df['stay'].apply(stay_prep)
# cnx_df['triptype'] = cnx_df['triptype'].apply(triptype_prep)
# cnx_df['review'] = cnx_df['review'].apply(review_prep)
# cnx_df['origin'] = cnx_df['origin'].apply(review_origin)

In [426]:
# cnx_df['origin'][0].split(' contributions')[0].rstrip('0123456789')

In [427]:
# cnx_df['review'][0]

In [428]:
# cnx_df.head(20)